# dependencies
/node_modules

# next.js build-output
/.next
/out

# de SQLite-database — DIT bestand bevat je hele verzameling.
# Niet in git! Maak er een back-up van (zie README.md).
/data/*.db
/data/*.db-shm
/data/*.db-wal
*.db
*.db-shm
*.db-wal

# OS-rommel
.DS_Store
Thumbs.db
desktop.ini

# logs / misc
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
.env*.local
